#images {
    margin-top: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#image-one {
    display: inline-block;
    text-align: left;
    border-style: solid;
    border-color: #A0A0A0;
    border-width: thin;
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
}

#image-two {
    display: inline-block;
    text-align: left;
    border-style: solid;
    border-color: #A0A0A0;
    border-width: thin;
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
}

#image-three {
    display: inline-block;
    text-align: left;
    border-style: solid;
    border-color: #A0A0A0;
    border-width: thin;
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    padding-left: 5px;
}
